body{
    margin: 1;
    padding: 0;
    background-color: rgba(249, 250, 253, 0.904);
}
.container_1{
    background-color: rgb(218, 228, 255);
    border-radius: 20px;
    height: 20vh;
    
}
.navbar{
    
}
.navbar img{
    width: 22%;
    height: 22%;
}
.navbar text{
    width: 80px;
}



.container_2{}
.container_3{}
